body {
    font-family: Roboto;
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
}

h1 {
    background-color: #2980b9;
    color: white;
    padding: 10px 10px 20px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666666;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

li span {
    background : #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

input {
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0,0,0,0);
}

input:focus {
    background: white;
    outline: none;
    border: 3px solid #d9e9f3;
}

#disp-container {
    /* width: 360px; */
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#dispplus {
    float: right;
}

.taskcompleted {
    color: grey;
    text-decoration: line-through;
}

h3 {
    font: bold 12px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #369;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 24px;
    text-orientation: sideways;
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: right;
    height: 390px;
}

h4 {
    font: bold 12px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #369;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 24px;
}

.dispheader {
    margin: 0;
    padding: 50px 0px 0px 0px;
    float: bottom;
}

.tablekwadrant1, .tablekwadrant2 {
    border-collapse:collapse;
    border-spacing:0;
    border-color: black;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    text-align:left;
    vertical-align:center;
}

.tablekwadrant3, .tablekwadrant4 {
    border-collapse:collapse;
    border-spacing:0;
    border-color: black;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    text-align:left;
    vertical-align:center;
}

.disprow {
    height: 400px;
}